.fish {
  background-image: url(/src/assets/windows_active/ryby_klik.png);
  width: 9vh;
  height: 8vh;
  top: 20vh;
  right: 8vw;
  animation-delay: 2s;
}

.dis-fish {
  animation: none;
}

.active-fish {
  cursor: pointer;
  animation: fish 8s infinite ease-in-out;
}

@media screen and (min-width: 1000px) {
  .fish {
    width: 9vw;
    height: 8vw;
    top: 55vh;
    right: auto;
    left: 10vw;
  }
  .active-fish {
    animation: bigger_fish 6s infinite ease-in-out;
  }
}

@keyframes fish {
  0% {
    transform: translateX(0%) scale(1, 1)
  }
  45% {
    transform: translateX(-40%) scale(1, 1)
  }
  50% {
    transform: translateX(-40%) scale(-1, 1)
  }
  95% {
    transform: translate(0%) scale(-1, 1)
  }
  100% {
    transform: translateX(0%) scale(1, 1)
  }
}

@keyframes bigger_fish {
  0% {
    transform: translateX(0%) scale(1, 1)
  }
  45% {
    transform: translateX(-90%) scale(1, 1)
  }
  50% {
    transform: translateX(-90%) scale(-1, 1)
  }
  95% {
    transform: translate(0%) scale(-1, 1)
  }
  100% {
    transform: translateX(0%) scale(1, 1)
  }
}
