.plant {
  width: 10vh;
  height: 40vh;
  right: 0;
  bottom: 18vh;
  transform-origin: bottom;
}

.dis-plant {
  background-image: url(/src/assets/windows_disable/gr_plant_sm.png);
  animation: none;
}

.active-plant {
  background-image: url(/src/assets/windows_active/plant_sm.png);
  cursor: pointer;
  animation: slowdivePlant 6s infinite ease alternate;
}

@media screen and (min-width: 1000px) {
  .plant {
    width: 8vw;
    height: 30vw;
    right: 1vw;
    bottom: 0;
  }
  .dis-plant {
    background-image: url(/src/assets/windows_disable/gr_plant.png);

  }
  .active-plant {
    background-image: url(/src/assets/windows_active/plant.png);

  }
}

@keyframes slowdivePlant {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(-12deg);
  }
}
