.submarine {
  background-position: center;
  background-size: contain;
  width: 30vh;
  height: 15vh;
  right: 0vw;
  top: 0;
  transform-origin: right;
}

.dis-submarine {
  background-image: url(/src/assets/windows_disable/gr_submarine_sm.png);
  animation: none;
}

.active-submarine {
  background-image: url(/src/assets/windows_active/submarine.png);
  cursor: pointer;
  animation: submarino 5s infinite alternate;

}

@media screen and (min-width: 1000px) {
  .submarine {
    width: 30vw;
    height: 15vw;
    right: auto;
    left: 20vw;
    top: 6vh;
    border: 1px solid white; 
  }
  .active-submarine {
    background-image: url(/src/assets/windows_active/submarine.png);

  }
  .dis-submarine {
    background-image: url(/src/assets/windows_disable/gr_submarine.png);
  }
}

@keyframes submarino {
  from {
    transform: scale(0.8) rotateX(0deg);
  }
  to {
    transform: scale(1) rotateX(23deg);
  }
}